@charset "UTF-8";
/* CSS Document */
.serviceidea figure {
	padding: 10px 0px;
	font-size: 18px;
}
#service-article1 figure img {
	width: 500px;
	border-radius: 10px;
}
#service-article2 figure img,#service-article3 figure img,#service-article4 figure img {
	width: 90%;
	border-radius: 10px;
}
@media (max-width:767px){
	#service-article1 figure img {
		width: 80%;
	}
}
